---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 0

SortIncludes: true
IncludeBlocks: Preserve

IndentPPDirectives: BeforeHash
BreakStringLiterals: false
---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 0
...
