build/*
*.user
*.autosave
compile_commands.json
.cache
.vscode
.vscode/*
build
CMakeLists.txt.user
cmake-build*
.idea/*
*.iml
*.ipr
*.iws
.project
.settings
*.sln
*.suo
*.user
*.useross
*.userprefs
*.userps
*.userpsproj
*.userws
*.vbproj.user
*.vbproj.vspscc
*.vbproj.vssscc
*.vbproj.vssscc.filters
*.vbproj.vssver.scc
*.vbproj.vssver.scc.filters

